.btn {
	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
	padding: 20px 56px;
	margin-top: 20px;
	background: radial-gradient(100.83% 100.83% at 50.16% 132.5%, #00D1FF 0%, rgba(0, 209, 255, 0) 100%), #e32262;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}