mixin sidebar(bem, data)
	+b('sidebar')
		+e('block')
			+e('item')
				+e('link', {t: 'a'}) Новости
			+e('item')
				+e('link', 'active', 'a') Персональная<br> информация
			+e('item')
				+e('link', {t: 'a'}) Клиенты
			+e('item')
				+e('link', {t: 'a'}) Документы 
			+e('item')
				+e('link', {t: 'a'}) Календарь
			+e('item')
				+e('link', {t: 'a'}) Сообщения