.user-wrapper { 
	@include col();
	@include size(3);

	@include md-block() {
		@include size(4);
	}
	
	@include sm-block() {
		@include size(12);
		text-align: center;
	}

	@include xs-block() {
		@include size(12);
		text-align: center;
	}

	&__profile {
		background-color: #fff;
		padding: 47px 0 71px 59px;
		border-radius: 10px;

		@include md-block() {
			padding: 47px 10px 71px 10px;
    	text-align: center;
		}

		@include sm-block() {
			padding: 20px 20px;
    	text-align: center;
		}

		@include xs-block() {
			padding: 20px 20px;
    	text-align: center;
		}

		@include to-xs() {
			padding: 47px 0 71px 0;
		}
	}

	&__photo {
		max-width: 100%;
	}

	&__position {
		font-family: PT Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 20px;
		color: #0080FF;
		margin: 10px 0 4px 0;
	}

	&__name {
		font-family: PT Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 22px;
		line-height: 25px;
		color: #555555;
		margin-bottom: 21px;
	}

	&__item {
		margin-bottom: 14px;
	}

	&__item:nth-child(5) {
		margin-bottom: 20px;
	}

	&__item:nth-child(6) {
		margin-bottom: 0;
	}

	&__info-sup {
		font-family: PT Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 20px;
		color: #555555;
	}

	&__info-sub {
		font-family: PT Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 20px;
		color: #555555;
	}

	&__btn {
		font-family: PT Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 20px;
		color: #fff;
		padding: 20px 51px;
		margin-top: 20px;
		background: radial-gradient(100.83% 100.83% at 50.16% 132.5%, #00D1FF 0%, rgba(0, 209, 255, 0) 100%), #0066CC;
		border-radius: 10px;
		border: none;
		cursor: pointer;

		@include md-block() {
			padding: 20px 26px;
		}

		@include sm-block() {
			margin-bottom: 20px;
		}

		@include xs-block() {
			margin-bottom: 20px;
		}
	}
}