mixin user(bem, data)
	+b('user', bem)&attributes(attributes)
		+e('profile')
			+e('photo', {t: 'img'})(src='/img/content/user-photo.png' alt='Person')
			+e('position', {t: 'p'}) Арендодатель
			+e('name', {t: 'p'}) Иванова Елена<br> Павловна
			+e('data', {t: 'ul'})
				+e('item', {t: 'li'})
					+e('info-sup', {t: 'p'}) Имя на сайте
					+e('info-sub', {t: 'p'}) Elena Pavlovna
				+e('item', {t: 'li'})
					+e('info-sup', {t: 'p'}) Контактный телефон
					+e('info-sub', {t: 'p'}) +7(891) 245-65-67
				+e('item', {t: 'li'})
					+e('info-sup', {t: 'p'}) Дата рождения
					+e('info-sub', {t: 'p'}) <time>23.09.1970</time>
				+e('item', {t: 'li'})
					+e('info-sup', {t: 'p'}) E-mail
					+e('info-sub', {t: 'p'})(type="email") elenavl@mail.ru
				+e('item', {t: 'li'})
					+e('info-sup', {t: 'p'}) Страна, город
					+e('info-sub', {t: 'p'}) Россия, Сочи
				+e('item', {t: 'li'})
					+e('info-sup', {t: 'p'}) Иностранные языки
					+e('info-sub', {t: 'p'}) Русский, Французкий
		//- +e('btn', {t: 'button'})(type='button') Редактировать профиль
		if data && data.showBtn === true
			+button({m: 'avatar'}) Редактировать профиль