include ../node_modules/bempug/index
- BEMPUG.modifier = '_';

//- blocks imports
include ./blocks/head/head
include ./blocks/header/header
include ./blocks/cover/cover
include ./blocks/user-wrapper/user-wrapper
include ./components/btn/btn
include ./blocks/cover__information-wrapper/cover__information-wrapper
include ./blocks/footer/footer

doctype html
html
  +head({
    title: 'Аватар'
  })
  body.main
    
    +header({})
      
    main.main
      +cover({})
        +user-wrapper({})
        +cover__information-wrapper({})
          +btn({})

    +footer({})