include ../node_modules/bempug/index
- BEMPUG.modifier = '_';

//- blocks imports
include ./blocks/head/head
include ./blocks/header/header
include ./blocks/content/content
include ./blocks/user/user
include ./components/button_1/button_1
include ./blocks/information/information
include ./blocks/sidebar/sidebar
include ./blocks/footer/footer


doctype html
html
  +head({
    title: 'Главная'
  })
  body.main
    
    +header({})
      
    main.main
      +content({})
        +user({}, {
          showBtn: true
        })
          //- +button({})
        +information({})
        +sidebar({})

    +footer({})

  