.header {
  $self: &;

  &__top-block {
    background: rgba(0, 102, 204, 0.76);
    position: relative;
  }

  &__top-block_open {
    height: 120px;
  }

  &__container {
    @include container();
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    padding: 20px 0 23px 0;
  }

  &__button {
    display: flex;
    // padding: 20px 0 23px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    cursor: pointer;

    @include xs-block() {
      margin-left: 20px;
    }
  }

  &__text {
    margin-left: 21px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
  }

  &__navigation {
    align-items: center;
    display: flex;
    justify-content: flex-end;

    @include xs-block() {
      margin-right: 20px;
    } 
  }

  &__list {
    display: flex;

    @include to-xs() {
      display: none;
    }
  }

  &__list_open {
    position: absolute;
    display: flex;
    top: 80px;
    width: 100%;
    left: 0;
    justify-content: space-around;
  }

  &__item {
    margin-right: 45px;
  }

  &__item:nth-child(2) {
    margin-right: 57px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    cursor: pointer;
  }

  &__humburger {
    display: none;
    margin-right: 20px;
    cursor: pointer;
    background: inherit;
    border: none;

    @include to-xs() {
      display: block;
    }
  }

  &__image {
    display: block;
  }

  &__bottom-block {
    padding-top: 47px;
    padding-bottom: 60px;
    background: url(/src/img/header/photo.jpg) no-repeat center / cover;
  }

  &__title {
    @include col();
    @include size(4);
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 36px;
    color: #fff;

    @include from-xs() {
      margin-left: 50%;
    }

    @include md-block() {
      @include size(9);
      margin-left: calc(25% + 30px);
    }

    @include sm-block() {
      @include size(9);
      margin-left: calc(25% + 30px);
    }

    @include xs-block() {
      @include size(12);
      margin-left: calc(25% + 30px);
    }

    @include to-xs() {
      margin-left: 10%;
      font-size: 28px;
    }
  }

  &__title span {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    color: #fff;

    @include to-xs() {
      font-size: 40px;
      line-height: 30px;
    }
  }
}
